* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #0F21CA;

  min-height: 100vh;
}
a{
  text-decoration: none;
}

.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 70px;
  color: #F700FF;
  margin: 0 5px;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(0.2s * var(--i));
  font-weight: 700;
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg)
  }
}
.btn{
  border-radius:10px !important
}
.btn-primary {
  color: #0F21CA !important;
  background-color: #fff !important;
  border-color: #fff !important;
  font-weight: 400 !important;
}

.w-85{
  width:85%
}

/**
 * Remove focus styles for non-keyboard focus.
 */
 :focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

/**
 * Cross-browser styles for explicit focus via
 * keyboard-based (eg Tab) navigation or the
 * .focus-visible utility class.
 */
:focus,
.focus-visible:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}



/**
 * Remove focus ring for non-explicit scenarios.
 */
:focus:not(.focus-visible) {
  outline: 0;
  box-shadow: none;
}
ng-otp-input {
  .wrapper{
    justify-content: space-between !important;
    display: flex !important;
  }
}
